version: '3.8'
services:
  eureka:
    build: ./service-registry-flightbookingsystem
    container_name: eureka
    ports:
      - "8761:8761"

  config-server:
    build: ./config-server-flightbookingsystem
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka

  api-gateway:
    build: ./api-gateway-flightbookingsystem
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka
      - auth-service
      - booking-service-auth
      - flight-service-auth
      - user-service

  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    depends_on:
      - mongo
      - eureka
    environment:
      SPRING_PROFILES_ACTIVE: docker

  flight-service-auth:
    build: ./flight-service-auth
    container_name: flight-service-auth
    ports:
      - "8082:8082"
    depends_on:
      - mongo
      - eureka
    environment:
      SPRING_PROFILES_ACTIVE: docker

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8083:8083"
    depends_on:
      - mongo
      - eureka
    environment:
      SPRING_PROFILES_ACTIVE: docker

  booking-service-auth:
    build: ./booking-service-auth
    container_name: booking-service-auth
    ports:
      - "8084:8084"
    depends_on:
      - mongo
      - kafka
      - eureka
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  mongo_data:
